* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red {
    border: 1px solid red;
}
.blue {
    border: 1px solid blue;
}
.green {
    border: 1px solid green;
}

/* Nav starts */
.container {
    padding: 0 10px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #fff;
    border-bottom: 1px solid #bbb;
}
.nav img {
    width: 60px;
    height: 90%;
}
.col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    width: 16.66666667%;
    cursor: pointer;
}
.hamburger i {
    font-size: 30px;
}
.col-md-10 {
    display: none;
}
.p-24 {
    padding: 24px 0;
}
/* Nav ends */


/* Home starts */

.home {
    position: relative;
    width: 100%;
    height: 100vh;
}
.home-bg {
    background-color: rgba(45, 45, 43, .7);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.home-text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}
.home-line {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    z-index: 4;
}
.home-seyyar {
    display: inline-block;
    height: 50px;
    position: relative;
    overflow: hidden;
}
.home-line p {
    position: absolute;
    top: -50px;
    width: 2px;
    height: 50px;
    background-color: #fff;
    animation: homeLine cubic-bezier(1,.59,.56,.77) 2s infinite;
}

@keyframes homeLine {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}

.home-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row {
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.col-md-4 {
    display: none;
}
.col-md-8 {
    flex: 0 0 auto;
    width: 100%;
}
h2 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1;
    color: #fff;
}
.name {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-size: 50px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    color: #fff;
}

/* Home ends */


.menu {
    background-image: url('./menu-img.png');
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}
.close i {
    font-size: 30px;
}
.menu-list {
    margin-bottom: 50px;
}
.menu-list li {
    list-style: none;
    padding: 10px 0;
    text-align: center;
}
.menu-list li a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
}
.link-list {
    display: flex;
}
.link-list li{
    list-style: none;
    padding: 0 10px;
}
.link-list li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}


/* Breakpoints start */

@media (min-width: 576px) {
    .container {
        max-width: 95%;
        width: 95%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        }
    }
@media (min-width: 768px) {
    .container {
        max-width: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .nav img {
        width: 70px;
        height: 100%;
    }
    .home-bg {
        background-color: transparent;
    }
    h2 {
        color: #000;
        font-size: 90px;
    }
    .name {
        -webkit-text-stroke: 1px #000;
        font-size: 90px;
    }
    p {
        color: #000;
    }
    .home-line p {
        background-color: #000;
    }

    }
@media (min-width: 992px) {
    .container {
        max-width: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .col-md-10 {
        display: flex;
        flex: 0 0 auto;
        width: 83.33333333%;
        justify-content: flex-end;
        align-items: center;
    }
    .col-md-10 li:not(:last-child) {
        margin-right: 30px;
    }
    .col-md-10 li{
        list-style: none;
    }
    .col-md-10 li a{
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #000;
    }
    .li-home {
        width: 53px;
        height: 20px;
        position: relative;
        overflow: hidden;
    }
    .li-home:nth-child(3) {
        width: 73px;
    }
    .li-home:nth-child(4) {
        width: 96px;
    }
    .li-home:nth-child(5) {
        width: 50px;
    }
    .li-home:nth-child(6) {
        width: 68px;
    }
    .item1 {
        position: absolute;
        top: 0px;
        transition: all .2s ease-in;
    }
    .item2 {
        position: absolute;
        top: -20px;
        transition: all .2s ease-in;
    }
    .li-home:hover .item1{
        transform: translateY(20px);
    }
    .li-home:hover .item2{
        transform: translateY(20px);
    }
    .hamburger {
        display: none;
    }
    .nav {
        background-color: transparent;
        border: none;
    }
}
    
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-md-4 {
        display: block;
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    h2 {
        font-size: 120px;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.1;
    }
    }
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
        width: 1320px;
        margin-left: auto;
        margin-right: auto;
        }
    }

/* Breakpoints end */